<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: links">
    <link rel="css/fontello.css" type="text/css"/>
</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container">
    <br>
    <legend>Offer details</legend><br>

    <div class="row">
        <div class="row">
            <form th:action="@{/reservation/save}" th:object="${offerDetails}" method="post">
                <input th:value="*{id}" th:field="*{id}" hidden>
                <!--<input th:value="*{event}" th:field="*{event}" hidden>-->
                <div class="row">
                    <div class="col-xl-7">
                        <label for="offerName">Offer name:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="offerName" th:text="*{offerName}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <label for="material">Material:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="material" th:text="*{material.name}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="materialForm">Material form:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="materialForm" th:text="*{material.form}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="color">Color:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="color" th:text="*{material.color}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="pricekg">Description:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="pricekg" th:text="*{material.description}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="package">Package:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="package" th:text="*{tara.packageType}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="seal">Seal:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="seal" th:text="*{tara.seal}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="weight">Weight:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="weight" th:text="*{tara.weight}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="pckprice">Weight:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="pckprice" th:text="*{tara.packagePrice}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="pckdetails">Package details:</label>
                    </div>
                    <div class="col-md-5">
                        <p id="pckdetails" th:text="*{tara.details}"></p>
                    </div>
                </div>


                <!--<div class="row">-->
                <!--<div class="col-md-2">-->
                <!--<label for="location">Location:</label>-->
                <!--</div>-->
                <!--<div class="col-md-5">-->
                <!--<p id="location" th:text="*{location + ', ' + region}"></p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col-md-2">-->
                <!--<label for="date">Date:</label>-->
                <!--</div>-->
                <!--<div class="col-md-5">-->
                <!--<p id="date" th:text="*{date}"></p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col-md-2">-->
                <!--<label for="desc"></label>-->
                <!--</div>-->
                <!--<div class="col-md-5">-->
                <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Description</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                <!--<p id="desc" th:text="*{details}"></p>-->
                <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash;<div class="well">&ndash;&gt;-->
                <!--&lt;!&ndash;<b><p id="desc" th:text="*{details}"></p></b>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--<br><br>-->
                <!--<div class="row">-->
                <!--<div class="col-md-2">-->
                <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">Phone</div>-->
                <!--<div class="panel-body">-->
                <!--<p id="phone" th:text="*{phoneNumber}"></p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Phone</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                <!--<p id="phone" th:text="*{phoneNumber}"></p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<label for="phone">Phone:</label>-->
        </div>
        <div class="col-md-5">
            <!--<p id="phone" th:text="*{phoneNumber}"></p>-->
        </div>
    </div>


    </form>
</div>
</div>

</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>