<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: links">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="container">
    <form th:action="@{/login}" class="form-horizontal"  method="post">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br><br>
                <h2>Log In</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="username">Username</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input class="form-control" id="username" name="username"
                               placeholder="Login" required autofocus>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-3">-->
                <!--<div class="form-control-feedback" th:if="${error_message} !=null">-->
                        <!--<span class="text-danger align-middle">-->
                            <!--Wrong username or password!-->
                        <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback" th:if="${error_message} !=null">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close" style="color: #dc3545" th:text="${error_message}">m</i>
                        </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-warning btn-sm" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;
border-top-right-radius: 5px; border-bottom-right-radius: 5px"
                ><i class="fa fa-sign-in" aria-hidden="true"></i>Login</button>
            </div>
        </div><br><br>
        <a href="/register">Don't have an account? Register</a>
    </form>
</div>
<br><br><br><br><br>
<div th:replace="fragments :: footer"></div>

</body>
</html>
</body>
</html>