<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: links">
</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container">
    <!--Treść strony-->
    <br>
    <h2>Current Offers</h2><br><br>
    <div class="row">
    <!--<div style="width: 250px">-->
            <div class="col-md-1">
       <p style="padding-top: 6px">Material:</p>
            </div>
        <div class="col-md-3">

        <form class="form-inline" action="/offerslist/" method="get">
        <select class="form-control" id="material" name="material">
            <option value="PC">PC</option>
            <option value="PA">PA</option>
            <option value="PVC">PVC</option>
            <option value="PE">PE</option>
            <option value="PET">PET</option>
            <option value="PC_ABS">PC_ABS</option>
            <option value="all">All Materials</option>
            <!--<option th:each="itermaterials : ${materials}" th:text="${itermaterials}" th:value="${itermaterials}">-->
            </option>
        </select>

        <!--<in type="submit" value="Submit">-->


        <button type="submit" class="btn btn-primary">Filter</button>

    </form></div>

            <div class="col-md-1">
        <p style="padding-top: 6px">Forms:</p>
            </div>
        <div class="col-md-3">

        <form class="form-inline" action="/offerslist/" method="get">
            <select class="form-control" id="materialform" name="materialform">
                <option value="Cluster">Cluster</option>
                <option value="Panel">Panel</option>
                <option value="Billet">Billet</option>
                <option value="allForms">All Forms</option>
                <!--<option th:each="itermaterials : ${materials}" th:text="${itermaterials}" th:value="${itermaterials}">-->

                </option>
            </select>

            <!--<in type="submit" value="Submit">-->


            <button type="submit" class="btn btn-primary">Filter</button>

        </form></div>
        <div class="col-md-3">
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            <option>-</option>
            <option value="/offerslist/sort/name">A-Z</option>
            <option value="/offerslist/sort/nameReverse">Z-A</option>
            <option value="/offerslist/sort/price">Price from low to high</option>
            <option value="/offerslist/sort/priceReverse">Price from high to low</option>
        </select>

        </div>
        </div>



    <!--<a th:href="@{'/reservation/remove/' + ">Sort</a>-->
        <!--<a th:href="@{'/offerslist/' +}">Remove</a>-->



    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Offer</th>
            <th>Material</th>
            <th>Form</th>
            <th>Color</th>
            <th>Price per kg</th>
            <th> </th>
        </tr>
        </thead>
        <tbody th:each="offer : ${offerList}">
        <tr class="warning">
            <td><a th:href="@{'/details/' + ${offer.getId()}}"> <p th:text="${offer.getOfferName()}"></p></a></td>
            <td th:text="${offer.getMaterial().name}"></td>
            <td th:text="${offer.getMaterial().form}"></td>
            <td th:text="${offer.getMaterial().color}"></td>
            <td th:text="${offer.getMaterial().price}"></td>
            <td><a class="btn btn-danger btn-xs" th:href="@{'/wishList/addToWishList/' + ${offer.getId()}}">Add To Card</a></td>
        </tr>
        <!--<tr>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--</tr>-->
        <!--<tr class="info">-->
        <!--<td>3</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--</tr>-->
        <!--<tr class="success">-->
        <!--<td>4</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--</tr>-->
        <!--<tr class="danger">-->
        <!--<td>5</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--</tr>-->
        <!--<tr class="warning">-->
        <!--<td>6</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--</tr>-->
        <!--<tr class="active">-->
        <!--<td>7</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--<td>Column content</td>-->
        <!--</tr>-->
        </tbody>
    </table>

    <!--<h3 style="text-align: center">Current offers:</h3>-->
    <!--<div class="row col-md-offset-1 col-md-10">-->
    <!--<div class="row table-header" style="background-color: #d0e9c6"> &lt;!&ndash;Nagłówek&ndash;&gt;-->
    <!--<div class="col-lg-3"><b>Offer</b></div>-->
    <!--<div class="col-lg-2"><b>Company</b></div>-->
    <!--<div class="col-lg-2"><b>Category</b></div>-->
    <!--<div class="col-lg-2"><b>Location</b></div>-->
    <!--<div class="col-lg-2"><b>Date</b></div>-->

    <!--&lt;!&ndash;<div class="col-lg-3">Description</div>&ndash;&gt;-->
    <!--</div>  &lt;!&ndash;Nagłowek end&ndash;&gt;-->
    <!--<div class="row table-row" th:each="offer : ${offerList}" style="background-color: #dddddd">-->
    <!--<div class="col-lg-3"><p th:text="${offer.getOfferName()}"></p></div>-->
    <!--<div class="col-lg-2"><p th:text="${offer.getCompanyName()}"></p></div>-->
    <!--<div class="col-lg-2"><p th:text="${offer.getCategory()}"></p></div>-->
    <!--<div class="col-lg-2"><p th:text="${offer.getLocation()+', ' + offer.getRegion()}"></p></div>-->
    <!--<div class="col-lg-2"><p th:text="${offer.getDate()}"></p></div>-->
    <!--<div class="col-lg-1"> &lt;!&ndash;Szczegóły&ndash;&gt;-->
    <!--<div class="row top-buffer"><a class="btn btn-warning btn-xs" th:href="@{'/details/' + ${offer.getId()}}">Details</a></div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="col-lg-3"><p th:text="${' ' + offer.getDetails()}"></p></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-1 row">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-6"> &lt;!&ndash;Usuwanie&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<a th:href="@{'/event/remove/' + ${event.getId()}}">Remove</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-6"> &lt;!&ndash;Szczegóły&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<a th:href="@{'/event/details/' + ${event.getId()}}">Details</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--Treść strony-->

</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>