<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--<head th:replace="fragments :: links">-->
<!--</head>-->
<!--<body>-->

<!--<div th:replace="fragments :: header"></div>-->

<!--<div class="container">-->
    <!--&lt;!&ndash;Treść strony&ndash;&gt;-->
    <!--<br>-->
    <!--<legend>Current Offers</legend><br>-->
    <!--<form class="form-horizontal" th:action="@{/offerslist/sort/}" th:object="${mname}" method="get">-->

        <!--<select class="form-control" id="materialName" th:field="${mname}">-->
            <!--<option th:each="itermaterials : ${materials}" th:text="${itermaterials}" th:value="${itermaterials}"></option>-->

        <!--</select>-->
        <!--&lt;!&ndash;<a th:href="@{'/offersList/sort/' + ${itermateri}}">Sort</a>&ndash;&gt;-->

        <!--<button type="submit" class="btn btn-primary">Sort</button>-->

    <!--</form>-->
    <!--<table class="table table-striped table-hover ">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Offer</th>-->
            <!--<th>Material</th>-->
            <!--<th>Form</th>-->
            <!--<th>Color</th>-->
            <!--<th>Price per kg</th>-->
            <!--<th> </th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody th:each="offer : ${offerList}">-->
        <!--<tr class="warning">-->
            <!--<td th:text="${offer.getOfferName()}"></td>-->
            <!--<td th:text="${offer.getMaterial().name}"></td>-->
            <!--<td th:text="${offer.getMaterial().form}"></td>-->
            <!--<td th:text="${offer.getMaterial().color}"></td>-->
            <!--<td th:text="${offer.getMaterial().price}"></td>-->
            <!--<td><a class="btn btn-danger btn-xs" th:href="@{'/details/' + ${offer.getId()}}">Details</a></td>-->
        <!--</tr>-->
        <!--&lt;!&ndash;<tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr class="info">&ndash;&gt;-->
        <!--&lt;!&ndash;<td>3</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr class="success">&ndash;&gt;-->
        <!--&lt;!&ndash;<td>4</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr class="danger">&ndash;&gt;-->
        <!--&lt;!&ndash;<td>5</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr class="warning">&ndash;&gt;-->
        <!--&lt;!&ndash;<td>6</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr class="active">&ndash;&gt;-->
        <!--&lt;!&ndash;<td>7</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Column content</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--</tbody>-->
    <!--</table>-->

    <!--&lt;!&ndash;<h3 style="text-align: center">Current offers:</h3>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row col-md-offset-1 col-md-10">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row table-header" style="background-color: #d0e9c6"> &lt;!&ndash;Nagłówek&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-3"><b>Offer</b></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2"><b>Company</b></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2"><b>Category</b></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2"><b>Location</b></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2"><b>Date</b></div>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;<div class="col-lg-3">Description</div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>  &lt;!&ndash;Nagłowek end&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row table-row" th:each="offer : ${offerList}" style="background-color: #dddddd">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-3"><p th:text="${offer.getOfferName()}"></p></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2"><p th:text="${offer.getCompanyName()}"></p></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2"><p th:text="${offer.getCategory()}"></p></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2"><p th:text="${offer.getLocation()+', ' + offer.getRegion()}"></p></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2"><p th:text="${offer.getDate()}"></p></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-1"> &lt;!&ndash;Szczegóły&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row top-buffer"><a class="btn btn-warning btn-xs" th:href="@{'/details/' + ${offer.getId()}}">Details</a></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="col-lg-3"><p th:text="${' ' + offer.getDetails()}"></p></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="col-md-1 row">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="col-md-6"> &lt;!&ndash;Usuwanie&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<a th:href="@{'/event/remove/' + ${event.getId()}}">Remove</a>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="col-md-6"> &lt;!&ndash;Szczegóły&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<a th:href="@{'/event/details/' + ${event.getId()}}">Details</a>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;Treść strony&ndash;&gt;-->

<!--</div>-->

<!--<div th:replace="fragments :: footer"></div>-->

<!--</body>-->
<!--</html>-->