<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: links "></div>
</head>
<body>

<div th:replace="fragments :: header"></div>


<div class="container">
    <!--Treść strony-->

    <legend>Pricelists table</legend>
    <br>
    <!--<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">-->
    <!--<option>-</option>-->
    <!--<option value="/company/list/sort/name">A-Z</option>-->
    <!--<option value="/company/list/sort/reverseName">Z-A</option>-->

    <!--</select>-->

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th></th>
            <th>2t, $</th>
            <th>5t, $</th>
            <th>10t, $</th>
            <th>20t, $</th>

        </tr>
        </thead>
        <tbody th:each="company : ${companyList}">
        <tr class>
            <td><a th:href="@{'/company/details/' + ${company.getId()}}"><p th:text="${company.getName()}"></p>
            </a></td>


            <td th:text="${company.getPriceList().getPrice_2()}"></td>
            <td th:text="${company.getPriceList().getPrice_5()}"></td>
            <td th:text="${company.getPriceList().getPrice_10()}"></td>
            <td th:text="${company.getPriceList().getPrice_20()}"></td>

        </tr>

        </tbody>
    </table>


    <!--Treść strony-->

</div>
<div th:replace="fragments :: footer"></div>

</body>
</html>