<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: links">
    <link rel="css/fontello.css" type="text/css"/>
</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container">
    <h2>User Panel</h2><br><br>

    <div class="row">
        <div class="row">
            <form action="/panel/" method="get" th:object="${currentUser}">                <!--<input th:value="*{id}" th:field="*{id}" hidden>-->
                <!--<input th:value="*{event}" th:field="*{event}" hidden>-->
                <div class="row">
                    <div class="col-xl-5">
                        <label for="userName">Username:</label>
                    </div>
                    <div class="col-md-5">
                        <input id="userName" th:value="*{getUsername()}" readonly>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-xl-5">
                        <label for="name">Full Name:</label>
                    </div>
                    <div class="col-md-5">
                        <input id="name" class="form-control" name="name" th:value="*{name}" th:field="*{name}">
                        <!--<p id="ready" th:text="*{name}"></p>-->
                    </div>
                </div>
<br>
                <!--<div class="row">-->
                    <!--<div class="col-xl-7">-->
                        <!--<label for="companyName">Company Name:</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-5">-->
                        <!--<input id="companyName" class="form-control" name="companyName" th:value="*{company.name}" readonly>-->
                        <!--&lt;!&ndash;<p id="ready" th:text="*{name}"></p>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->



                <div class="row">
                    <div class="col-md-5">
                        <label for="company">Company:</label>
                    </div>
                    <div class="col-md-5">
                        <input id="company" name="editName" th:if="*{company != null}" th:value="*{company.name}" readonly>
                        <!--<p id="ready" th:text="*{name}"></p>-->
                    </div>
                    <div class="col-md-2">
                    <span th:if="*{company == null}"><a href="/company/add" class="btn btn-outline-success"><i class="fas fa-plus"></i>&nbsp; Company</a></span>

                    </div>
                </div>



                <!--<div class="row">-->
                <!--<div class="col-md-2">-->
                <!--<label for="location">Location:</label>-->
                <!--</div>-->
                <!--<div class="col-md-5">-->
                <!--<p id="location" th:text="*{location + ', ' + region}"></p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col-md-2">-->
                <!--<label for="date">Date:</label>-->
                <!--</div>-->
                <!--<div class="col-md-5">-->
                <!--<p id="date" th:text="*{date}"></p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col-md-2">-->
                <!--<label for="desc"></label>-->
                <!--</div>-->
                <!--<div class="col-md-5">-->
                <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Description</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                <!--<p id="desc" th:text="*{details}"></p>-->
                <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash;<div class="well">&ndash;&gt;-->
                <!--&lt;!&ndash;<b><p id="desc" th:text="*{details}"></p></b>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--<br><br>-->
                <!--<div class="row">-->
                <!--<div class="col-md-2">-->
                <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">Phone</div>-->
                <!--<div class="panel-body">-->
                <!--<p id="phone" th:text="*{phoneNumber}"></p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Phone</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                <!--<p id="phone" th:text="*{phoneNumber}"></p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<label for="phone">Phone:</label>-->
        </div>
        <!--<div class="col-md-5">-->
            <!--&lt;!&ndash;<p id="phone" th:text="*{phoneNumber}"></p>&ndash;&gt;-->
        <!--</div>-->
    </div><br><br><br>
<div class="row">
    <button type="submit" class="btn btn-primary">Edit</button>

</div>

    </form>
</div>
</div>

</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>