<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: links "></div>
</head>
<body>

<div th:replace="fragments :: header"></div>


<div class="container">
    <!--Treść strony-->
    <!--<br>-->
    <!--<legend>Current companies</legend><br>-->
    <!--<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">-->
    <!--<option>-</option>-->
    <!--<option value="/company/list/sort/name">A-Z</option>-->
    <!--<option value="/company/list/sort/reverseName">Z-A</option>-->

    <!--</select>-->

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Capacity, t</th>
            <th>Length, m</th>
            <th>Width, m</th>
            <th>Height, m</th>
            <th>Price per km, $</th>
            <th></th>
        </tr>
        </thead>
        <tbody th:object="${company}">
        <tr class="warning" th:each="vehicle : ${vehicleList}">

            <td th:text="${vehicle.getNumberCapacity(company.getPriceList())}"></td>
            <td th:text="${vehicle.getLength()}"></td>
            <td th:text="${vehicle.getWidth()}"></td>
            <td th:text="${vehicle.getHeight()}"></td>
            <td th:text="${vehicle.getPriceCapacity(company.getPriceList())}"></td>

            <td><a class="btn btn-danger btn-xs" th:href="@{'/company/add/changePriceList/' + ${company.id}}">Change
                pricelist</a></td>
        </tr>

        </tbody>
    </table>


    <!--Treść strony-->

</div>
<div th:replace="fragments :: footer"></div>

</body>
</html>